@page
@model SkysFormsDemo.Pages.Person.ViewModel
@{
}

<div class="card">
    <div class="card-header">
        <h1>@Model.Name</h1>
    </div>
    <div class="card-body">
        <table class="table" id="posts-table">
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Type</th>
                <th>Fuel</th>
                <th>Boughtdate</th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <a class="btn" href="javascript:fetchMore();">See more</a>
        

    </div>
</div>


@section Scripts
{
    <script>
        lastTicks = 0;
        function fetchMore() {
            fetch("View?handler=FetchMore&lastTicks=" + lastTicks + "&personId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        lastTicks = json.lastTicks;
                        json.items.forEach(tableElements);
                    }
                );
        }

/*
 *
         lastPage = 0;
        function fetchMore() {
            fetch("View?handler=FetchMore&lastPage=" + lastPage + "&personId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        lastPage = lastPage + 1;
                        json.items.forEach(tableElements);
                    }
                );
        }

 *
 */ 

        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.manufacturer}</td>
        <td>${element.model}</td>
        <td>${element.type}</td>
        <td>${element.fuel}</td>
        <td>${element.boughtDate}</td>
        <td onclick="fetchEvaluation(${element.id}, this)">Beräkna värde</td>
    </tr>`;
        }


        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });


        function fetchEvaluation(id, elem) {
            fetch("View?handler=FetchValue&id=" + id)
                .then((response) => response.json())
                .then((json) => {
                        elem.innerHTML = json.value;
                    }
            
                );
            
        }

    </script>    
}
