@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Latest products</h1>
<div class="gallery">
    @foreach (var product in Model.NewItems)
    {
        <partial name="_ProductBox" model="@product" />
    }
</div>
<h1>Oldest products</h1>
<div class="gallery">
    @foreach (var product in Model.OldestItems)
    {
        <partial name="_ProductBox" model="@product" />
    }


</div>

